
/* Основные стили для .top-nav навигации */
.top-nav {
    
    padding: 15px 5px; /* Отступы внутри панели */
    display: flex;
    justify-content: flex-start; /* Выровнять элементы по правому краю */
}

/* Стили для ссылок внутри .top-nav */
.top-nav a {
    color: #ffffff; /* Цвет текста слоновой кости */
    text-decoration: none;
    font-weight: thin;
    padding: 13px 20px; /* Просторные отступы */
    background-color: #95784c; /* Однотонный зеденый фон */
    border-radius: 30px; /* Овальная форма */
    margin: 0 10px; /* Отступ между ссылками */
    transition: color 0.3s;
}

/* Эффект при наведении для ссылок */
.top-nav a:hover {
    color: #b3b3b3; /* Мягкий серый при наведении */
}




/* Стиль заголовков */
h1, h3 {
    text-align: center; /* Центрируем заголовки */
    color: #1f3423; /* Цвет заголовков */
}

/* Стили для изображений */
.image-links img, .album img {
    margin: 5px; /* Отступы между изображениями */
    border: 1px solid #ccc; /* Обводка вокруг изображений */
    border-radius: 5px; /* Закругленные углы */
}

/* Форма */
form {
    background: #fff; /* Белый фон для формы */
    padding: 20px; /* Внутренние отступы */
    border-radius: 5px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень для формы */
    margin: 20px auto; /* Центрируем форму */
    max-width: 400px; /* Максимальная ширина формы */
}

form label {
    display: block; /* Каждый label на новой строке */
    margin-bottom: 5px; /* Отступ снизу */
}

form input {
    width: 100%; /* Ширина полей ввода */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 10px; /* Отступы между полями ввода */
    border: 1px solid #ccc; /* Обводка вокруг полей ввода */
    border-radius: 4px; /* Закругленные углы */
}

form button {
    background: #333; /* Цвет кнопки */
    color: white; /* Цвет текста на кнопке */
    border: none; /* Убираем обводку */
    padding: 10px 15px; /* Внутренние отступы */
    border-radius: 4px; /* Закругленные углы */
    cursor: pointer; /* Курсор при наведении */
    transition: background 0.3s; /* Плавный переход цвета */
}

form button:hover {
    background: #7b7a7a; /* Цвет кнопки при наведении */
}

/* Стили для кнопки "К началу страницы" */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;  /* Установите размер изображения по необходимости */
    height: 50px;
    cursor: pointer;
    z-index: 1000;
}

.back-to-top img {
    width: 100%;  /* Изображение масштабируется под кнопку */
    height: 100%;
}

/* Эффект при наведении */
.back-to-top:hover img {
    opacity: 0.8; /* Легкий эффект затемнения */
}



/* Альбом изображений */
.album {
    display: flex; /* Flexbox для расположения изображений */
    flex-wrap: wrap; /* Перенос изображений на новую строку */
    justify-content: center; /* Центрируем изображения */
}

/* Стили для таблицы */
table {
    width: 100%; /* Полная ширина таблицы */
    border-collapse: collapse; /* Убираем отступы между ячейками */
}

th, td {
    padding: 10px; /* Внутренние отступы */
    border: 1px solid hsl(0, 0%, 1%); /* Обводка ячеек */
    text-align: left; /* Выравнивание текста */
    
}

th {
    background: #d4d0d0; /* Цвет фона заголовка таблицы */
}



*{
	padding: 0px;
	margin: 0px;
}

#main_fon{

	height: 734px;
	background-image:url(images/fon.jpg);
	background-repeat: no-repeat;
}

#pass_title{
	padding-top: 41px;
	padding-left: 74px;
}

.poiret-one-regular {
  font-family: "PoiretOne";
  letter-spacing: 0.8em;
  word-spacing: 0.25em;
}


.vidanstr1{
	font-family: "PoiretOne";
	padding-top: 20px;
	padding-left: 200px;
}

.vidanstr2{
	font-family: "PoiretOne";
	padding-top: 10px;
	padding-left: 200px;
	word-spacing: 0.65em;
}

.vidanstrdata{
	font-family: "PoiretOne";
	padding-top: 37px;
	padding-left: 105px;
	word-spacing: 0.65em;
	float: left;
}

.vidanstrcode{
	font-family: "PoiretOne";
	padding-top: 39px;
	padding-left: 295px;
	word-spacing: 0.65em;
}

.podpis{
	padding-top: 30px;
	padding-left: 55px;
	float: left;
}

.podpis1{
	padding-top: 50px;
	padding-left: 115px;
}

.passfoto{
	padding-top: 140px;
	padding-left: 32px;
	float: left;
}

.hfamilia{
	padding-top: 104px;
	padding-left: 250px;
}

.hname{
	padding-top: 37px;
	padding-left: 250px;
}

.hfname{
	padding-top: 10px;
	padding-left: 250px;
}

.hpol{
	padding-top: 10px;
	padding-left: 35px;
	float: left;
}

.hborn{
	padding-top: 10px;
	padding-left: 310px;
}

.hpborn1{
	padding-top: 8px;
	padding-left:255px;
	word-spacing: 0.7em;
}

